
/*******************************
  Buy A Plot Styles
*******************************/
form {
  width: 60%;
  margin: 0 auto;
  background-color: #2B2A16;
  padding: 2em;
  border-radius: 1em 0 1em 0;
  color: #fff;
}
input {
    display: block;
}

input[type="checkbox"],
input[type="radio"]{
    display: inline-block;
}
h1{
  text-align: center;
}
h2{
  color: #6D4F02 !important;
}
h3, legend{
  color: #8FBC8F;
}
p{
  padding: 0 3em;
}
form p{
  padding: 0;
}
span{ 
  color: orangered;
}
#plotNumber{
  display: block;
}
button{
  background-color: #8FBC8F;
  border-radius: .5em;
  padding: .5em;
}